<a href="https://colab.research.google.com/github/andrewshiva/Building-a-Model-for-Classifying-Animal-Type-and-Assessing-Its-Performance/blob/master/Building_a_Model_for_Classifying_Animal_Type_and_Assessing_Its_Performance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import numpy as np
df = pd.read_csv('datasets_214194_465728_zoo2.csv')
df.head()

  animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0      turtle     0         0     1  ...     1         1        1           3
1   chameleon     0         0     1  ...     1         1        0           3
2      iguana     0         0     1  ...     1         1        1           3
3      lizard     0         0     1  ...     1         0        0           3
4       gecko     0         0     1  ...     1         1        0           3

[5 rows x 18 columns]

In [0]:
y = df.pop('animal_name')

In [38]:
df.head()

   hair  feathers  eggs  milk  ...  tail  domestic  catsize  class_type
0     0         0     1     0  ...     1         1        1           3
1     0         0     1     0  ...     1         1        0           3
2     0         0     1     0  ...     1         1        1           3
3     0         0     1     0  ...     1         0        0           3
4     0         0     1     0  ...     1         1        0           3

[5 rows x 17 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.4, random_state=188)
from sklearn.ensemble import RandomForestClassifier

In [40]:
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [41]:
train_preds = rf_model.predict(X_train)
train_preds

array(['trout', 'gharial', 'cicada', 'trout', 'gharial', 'mantis',
       'lizard', 'firebelly', 'cicada', 'salamander', 'hornet',
       'butterfly', 'palmetto', 'siren', 'trout', 'cricket', 'adder',
       'cicada', 'skink', 'cricket', 'barracuda', 'turtle', 'iguana',
       'chameleon', 'trout'], dtype=object)

In [42]:
from sklearn.metrics import accuracy_score
train_acc = accuracy_score(y_train, train_preds)
print(train_acc)

0.72